<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
    <id>stagingrepodir</id>
    <repositories>
      <repository>
        <id>stagingrepodir</id>
        <name>stagingrepodir</name>
        <url>file://#STAGINGREPODIR#</url>
        <releases>
          <enabled>true</enabled>
        </releases>
        <snapshots>
          <enabled>true</enabled>
        </snapshots>
      </repository>
    </repositories>
    <pluginRepositories>
      <pluginRepository>
        <id>stagingrepodir</id>
        <name>stagingrepodir</name>
        <url>file://#STAGINGREPODIR#</url>
        <releases>
          <enabled>true</enabled>
        </releases>
        <snapshots>
          <enabled>true</enabled>
        </snapshots>
      </pluginRepository>
      <pluginRepository>
        <id>toolsrepodir</id>
        <name>toolsrepodir</name>
        <url>file://#TOOLSREPODIR#</url>
        <releases>
          <enabled>true</enabled>
        </releases>
        <snapshots>
          <enabled>true</enabled>
        </snapshots>
      </pluginRepository>
    </pluginRepositories>
    <build>
      <pluginManagement>
        <plugins>
          <plugin>
            <groupId>org.apache.maven.plugins</groupId>
            <artifactId>maven-release-plugin</artifactId>
            <version>2.5</version>
          </plugin>
        </plugins>
      </pluginManagement>
    </build>
    </profile>
  </profiles>
  <mirrors>
    <mirror>
      <id>xnc-odlpublic</id>
      <name>xnc-odlpublic</name>   
      <url>http://xnc-build.cisco.com/nexus/content/repositories/odlpublic</url>
      <mirrorOf>!*</mirrorOf>
    </mirror>
  </mirrors>
  <activeProfiles>
    <activeProfile>stagingrepodir</activeProfile>
  </activeProfiles>
</settings>
